.navbar-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #333;
    justify-content: end;

    .navbar-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 300ms ease-in-out;
        
        a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 14px;
            background-color: transparent;
        }
    }
}

.navbar-container :hover {
    background-color: #111;
}