.jeh-button {
    padding: 8px 25px;
    color: #999;
    background-color: transparent;
    font-size: 17px;
    border: 2px #999 solid;
    border-radius: 5px;
    cursor: pointer;
}

.jeh-button:hover {
    background-color: #999;
    color: #222
}