<section class="blog-page-info">
    <h1 class="title">
        Jareem's Blog
    </h1>

    <p class="blog-info">
        My blogging page is more than just a standard blog; it's a custom-engineered platform designed to offer a
        distinctive and engaging experience for my audience. I've focused on creating an intuitive and interactive
        environment for both content creators and readers. Excitingly, I'm on the brink of launching a community
        feature, which will open up new opportunities for connection and collaboration within my growing community.
        Also, a bit of a cheeky way to show off my skills.
    </p>

    <!-- <ng-template [ngIf]="showBlogs"> -->
        
    <!-- </ng-template> -->
</section>

<section class="blog-preview">
    <div *ngFor="let post of blogPreview; index as i;" [class]="'blog-card-' + i + ' blog-card'">
        <div class="blog-preview-card">
            <div class="card-header">
                <div class="header-image">
                    <fa-icon [icon]="faGlobe"></fa-icon>
                </div>
                <div class="header-title">
                    {{ post.title }}
                </div>
            </div>

            <div class="card-body">
                <p>
                    {{ post.body }}
                </p>

                <div class="button-group">
                    <div class="left-side">
                        <button class="icon-button">
                            <fa-icon class="heart" [icon]="faHeart"></fa-icon>
                        </button>
                        <button class="icon-button">
                            <fa-icon class="share" [icon]="faShare"></fa-icon>
                        </button>
                    </div>

                    <div class="left-side">
                        <jeh-button btnText="Read More"></jeh-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>