.component-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 8px;

    .github-table-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 25px;

        p {
            width: 250px;
        }

        .header-0,
        .header-1 {
            width: 100px;
        }

    }

    // span them in columns instead of rows??
    .github-table-content {
        display: flex;
        flex-direction: column;
        height: 200px;
        overflow-y: scroll;
        background-color: #222;
        border-radius: 5px;

        .content-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 35px;
            border-radius: 8px;
            margin-right: 25px;

            .content-info {
                display: flex;
                flex-direction: row;

                p {
                    width: 250px;
                    text-wrap: nowrap;
                    overflow: hidden;
                }

                .cell-0,
                .cell-1 {
                    width: 100px;
                }
            }

            .content-actions {
                display: flex;
                flex-direction: row;
                
                .icon {
                    font-size: 20px;
                }
            }
        }

        // transition: background-color 1s ease-in-out;
    }

    .github-table-content :hover {
        background-color: #999;

        .content-actions {
            cursor: pointer;
        }
    }
}

// .component-container {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     margin-top: 50px;

//     table {
//         width: 900px;
//         border: 1px solid black;
//         border-radius: 8px;
//         padding: 15px;

//         th, td {
//             text-align: left;
//         }

//         margin-bottom: 500px;
//     }

// }