<section class="contact-section">
    <div class="contact-wrapper">
        <h1 class="title">Contact-Form</h1>
        <p class="short-blurb">
            I am constantly seeking new opportunities and challenges, so please feel free to reach out to me with any
            ideas
            or projects you have in mind. My openness to diverse experiences makes me eager to consider various roles
            and
            collaborations. Your proposals and suggestions are always welcome, as they might spark the next exciting
            phase
            in my professional journey.
        </p>

        <div class="contact-form">
            <label>First and Last Name:</label>
            <input>
            <label>Email:</label>
            <input>
            <label>Phone Number:</label>
            <input>
            <label>Message:</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <div class="button-group">
                <jeh-button btnText="Send"></jeh-button>
            </div>
        </div>
    </div>
</section>