<jeh-banner></jeh-banner>

<section class="section-container section-about-me">
    <div class="section-title">
        <h2>About Me</h2>
    </div>
    <!-- <div *ngIf="false" class="section-img">
        <img src="/assets/jeh_profile.jpeg">
    </div> -->
    <div class="section-content">
        <p>
            My name is Jareem Hoff, I'm an experienced Software Engineer based in New York, specializing in front and back-end development with a track record of impactful contributions at organizations like Veterans Affairs and ABC News. My expertise spans a wide range of technologies, including TypeScript (Javascript), Java, C++, and Python, driven by a passion for creating user-centric solutions. Collaborating closely with diverse teams, I have a proven track record in developing scalable applications and implementing modern web technologies, reflecting a deep commitment to technological excellence and innovation in every project I undertake.
        </p>
    </div>
</section>

<section class="section-container section-skills">
    <div class="section-title">
        <h2>Skills</h2>
    </div>
    <div class="section-content">
        <p>
            I thrive on diving into new projects and delving into research, always eager to explore innovative technologies and methodologies. My passion lies in not just solving problems, but in uncovering new avenues for development and pushing the boundaries of what's possible in software engineering. Each new project is an opportunity for learning and growth, driving me to continually hone my skills and contribute to the ever-evolving world of technology.
        </p>
    </div>
</section>

<section class="section-container section-recent-projects">
    <div class="section-title">
        <h2>Recent Projects</h2>
    </div>
    <div class="section-content">
        <p>
            Be sure to check out some of my recent projects, where I've applied my expertise and curiosity to create impactful and forward-thinking solutions!
        </p>
    </div>
    <div class="section-content github-section">
        <jeh-github-table></jeh-github-table>
    </div>
</section>