<jeh-banner></jeh-banner>
<section class="section-about-me">
    <div class="section-title">
        <h2>About Me</h2>
    </div>
    <div class="section-content">
        <p>
            Based in New York, I am a seasoned Software Engineer with over seven years of experience specializing in front and back-end development. I am proficient in a wide array of languages and technologies, including TypeScript, JavaScript, Java, C#, SQL and Python as well as frameworks like Angular, React, and Next.js.
        </p>
    </div>
</section>