<div class="table-container">
    <div class="table-header">
        <p [class]="'header-' + i" *ngFor="let header of tableHeaders; index as i;" class="github-header">
            {{ header}}
        </p>
    </div>

    <div class="content-wrapper">
        <div class="content-container" *ngFor="let repo of repoContent; index as i;">
            <div class="content-info">
                <p class="cell-0">{{ repo.repo_name }}</p>
                <p class="cell-1">{{ repo.repo_languages ? repo.repo_languages : "none"}}</p>
                <p class="cell-2">{{ repo.repo_desc ? repo.repo_desc : "none"}}</p>
            </div>

            <div class="content-actions">
                <div (click)="this.repoDetails(repo)">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>