<div class="about-page-container">    
    <section class="intro-section">
        <h1>About Me</h1>
        <p>
            As a software engineer specializing in full stack web development, I am deeply involved in creating and managing
            both the front-end and back-end components of websites and applications. My role encompasses designing user
            interfaces, developing servers and databases for website functionality, and coding for mobile platforms. Beyond
            my core responsibilities, I have a keen interest in building custom computer hardware and peripherals. This
            hobby not only complements my professional skills but also allows me to explore the tangible aspects of
            technology, bringing a unique perspective to my digital creations. My journey in this field is a blend of both
            virtual and physical realms of computing, constantly pushing the boundaries of innovation and practicality.
        </p>
        <div class="button-group">
            <jeh-button btnText="Checkout My Blog!" (execute)="navigate()"></jeh-button>
        </div>
    </section>
</div>