*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #111;

    app-root {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        .footer-items {
            margin-top: auto;
        }
    }

}